body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* Cream background color for the entire page */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff9e8; /* Cream background color for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ff0000; /* Red color for labels */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #ff0000; /* Red color for the submit button */
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #cc0000; /* Darker red color on hover */
}
